.brand-logo {
    font-weight: 200;
    color: white;
}

#title {
    margin-top: 10%;
}
#auth {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #03a9f4;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #03a9f4;
    box-shadow: 0 1px 0 0 #03a9f4;
}

 /* label focus color */
 .input-field input[type=password]:focus + label {
    color: #03a9f4;
}
/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #03a9f4;
    box-shadow: 0 1px 0 0 #03a9f4;
}

.picker__date-display, .picker__weekday-display{
    background-color: #03a9f4;
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
    background-color: #03a9f4;
}

button.picker__today, button.picker__close {
    color: #03a9f4;
}

#signupBut:hover {
    text-decoration: underline;
}

input[type="search"] {
    height: 64px !important;
}