html {
    height: 100%;
}

body {
    height: auto;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

h2 {
    font-weight: 300;
}

.link_p {
    color: #03a9f4;
}

.link_p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bg { 
    /* The image used */
    background-image: #35CEE1;

    /* Full height */
    height: calc(100% - 64px); 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-logo {
    font-weight: 300;
    color: white;
}

.centered-content {
    margin: 0 auto !important;
}

#sub {
    font-weight: 300;
    color: white;
}

#title {
    color: white;
}

#signupBut:hover {
    text-decoration: underline;
}